@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resource.Error;
}

<h1 class="text-danger">@Resources.Resource.Error</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">@Resources.Resource.ErrorAquredWhileProcessingRequest</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}
