@{
    ViewBag.Title = Resources.Resource.ForgottenPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.CheckEmailForPasswordReset
    </p>
</div>
	
