@{
    ViewBag.Title = Resources.Resource.PasswordResetConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.YourPasswordReseted @Html.ActionLink(@Resources.Resource.ClickHereForEntry, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
