#CardArea {
    min-height: 200px;
    max-height: 200px;
    min-width: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
#CardArea li{
    margin: 3px 2.5px 0px 2.5px; 
    padding: 1px; 
    float: left; 
    width: 195px; 
    height: 46px; 
    font-size: 1em; 
    text-align: left;
}
ul.Empty, ul.Template1, ul.Template2,
ul.Template3, ul.Template4, ul.Template5, ul.Template6,
ul.Template7, ul.Template8, ul.Template9 {
    min-height: 200px;
    max-height: 200px;
    min-width: 400px;
    max-width: 400px;
    background-image: url("../../Content/EmptyTemplate.bmp");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

ul.Template1 {
    background-image: url("../../Content/Template1.bmp");
}

ul.Template2 {
    background-image: url("../../Content/Template2.bmp");
}

ul.Template3 {
    background-image: url("../../Content/Template3.bmp");
}

ul.Template4 {
    background-image: url("../../Content/Template4.bmp");
}

ul.Template5 {
    background-image: url("../../Content/Template5.bmp");
}

ul.Template6 {
    background-image: url("../../Content/Template6.bmp");
}

ul.Template7 {
    background-image: url("../../Content/Template7.bmp");
}

ul.Template8 {
    background-image: url("../../Content/Template8.bmp");
}

ul.Template9 {
    background-image: url("../../Content/Template9.bmp");
}

#fields {
    min-height: 370px;
}

#tools {
    border: groove;
    border-color: black;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}