@model ICollection<task_1.Models.ProfileModel.Profile>
@{
    ViewBag.Title = Resources.Resource.AdminOnly;
}

<h2>@Resources.Resource.Admin</h2>

@foreach (var profile in Model)
{
    if (profile.UserName != User.Identity.Name)
    {
        <h3>@profile.UserName</h3>
        <form action="/Home/DeleteUser" method="post">
            <input name="userId" value="@profile.Id" type="hidden" />
            <input type="submit" value="@Resources.Resource.Delete" />
        </form>
    }
}