@{
    ViewBag.Title = "Контактировать";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Строителей ул.<br />
    Сиэтл<br />
    <abbr title="Р">С:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:setallunder@gmail.com">setallunder@gmail.com</a><br />
</address>