@{
    ViewBag.Title = "Товарищество";
}

<div class="jumbotron">
    <div class="well">
        <h1>Товарищество</h1>

        <p class="lead">Товарищество - это бесплатное сетевое сообщество, где каждый может быть <b>Товарищем</b>!</p>
        <p><a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%B8%D1%89" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начинаем</h2>
        <p>
            Пойми, что значит быть Товарищем!
        </p>
        <p><a class="btn btn-default" href="http://www.pervoprohodcy.ru/pioner/swear_explanations.html">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Посмотрим же на Товарищей</h2>
        <p>Посмотри на этих славных ребят!</p>
        <p><a class="btn btn-default" href="https://www.google.by/search?q=%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%B8%D1%89&espv=2&biw=1366&bih=667&tbm=isch&tbo=u&source=univ&sa=X&ei=m6oyVfamGc-Waqj5gcgJ&ved=0CEYQsAQ&dpr=1">Увидеть больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Онлайн Товарищ</h2>
        <p>Ознакомься с онлайн Товарищем!</p>
        <p><a class="btn btn-default" href="http://www.camarade.biz/">Ознакомиться &raquo;</a></p>
    </div>
</div>