@{
    ViewBag.Title = "Business card creator";
}

<div class="jumbotron">
    <div class="well">
        <h1>Business card creator</h1>
        <p class="lead"><b>Business card creator</b> - это замечательная возможность для создания <b>визиток!</b></p>
        <form action="Home/Search">
            <input id="Text1" name="searchRequest" type="text" />
            <input type="submit" value="Поиск" />
        </form>
    </div>
</div>