@model task_1.Models.ProfileModel.Field

@using (Html.BeginCollectionItem("fields"))
{
    <p>
        @Html.DropDownListFor(x => x.Type, new[] {
            new SelectListItem() {Text = "Електронная почта", Value = "Email"},
            new SelectListItem() {Text = "Факс", Value = "Fax"},
            new SelectListItem() {Text = "Работа", Value = "Job"},
            new SelectListItem() {Text = "Имя", Value = "Name"},
            new SelectListItem() {Text = "Номер телефона", Value = "Phone number"},
            new SelectListItem() {Text = "Должность", Value = "Position"}})
        @Html.TextBoxFor(x => x.Value)
    </p>
}