@model task_1.Models.ProfileModel.Field

@using (Html.BeginCollectionItem("fields"))
{
    <p>
        @Html.DropDownListFor(x => x.Type, new[] {
            new SelectListItem() {Text = Resources.Resource.Email, Value = "Email"},
            new SelectListItem() {Text = Resources.Resource.Fax, Value = "Fax"},
            new SelectListItem() {Text = Resources.Resource.Job, Value = "Job"},
            new SelectListItem() {Text = Resources.Resource.Name, Value = "Name"},
            new SelectListItem() {Text = Resources.Resource.PhoneNumber, Value = "Phone number"},
            new SelectListItem() {Text = Resources.Resource.Position, Value = "Position"}})
        @Html.TextBoxFor(x => x.Value)
    </p>
}