@model task_1.Models.ProfileModel.Field

@using (Html.BeginCollectionItem("fields"))
{
    <p>
        @Html.DropDownListFor(x => x.Type, new[] {
            new SelectListItem() {Text = "Email", Value = "Email"},
            new SelectListItem() {Text = "Fax", Value = "Fax"},
            new SelectListItem() {Text = "Job", Value = "Job"},
            new SelectListItem() {Text = "Name", Value = "Name"},
            new SelectListItem() {Text = "Phone number", Value = "Phone number"},
            new SelectListItem() {Text = "Position", Value = "Position"}})
        @Html.TextBoxFor(x => x.Value)
    </p>
}